<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>Dreamy</title>

<link rel="stylesheet" href="style.css" />

<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


</head>
<body class="toppage">

<header>
<img src="06062021055844A.png" class="loogo">
<div id="h_box_sp">
<div class="h_box">
<ul class="h_list">
    <li><a href="faq.html">よくあるご質問</a></li>
    <li><a href="company.html">会社概要</a></li>
    <li><a href="contact.html">お問い合わせ</a></li>
</ul>
<ul class="h_lang">
    <li><a href="#" class="selected">日本語</a></li>
    <li><a href="#">ENGLISH</a></li>
</ul>
</div>





<div class="menu_btn">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</div>


</header>

<main>
<div class="content">
<section class="cont_list effect d_04">
<div class="list_box">
<h2>お勧めサンプル商品</h2>
<a href="#"><img src="img/sample_001.jpg" alt="サンプルメージ"></a>
<p>確認用のサンプルになります。適当な写真と文言に差し替えてお使いください。</p>
</div>
<div class="list_box">
<h2>お勧めサンプル商品</h2>
<a href="#"><img src="img/sample_002.jpg" alt="サンプルメージ"></a>
<p>確認用のサンプルになります。適当な写真と文言に差し替えてお使いください。</p>
</div>
<div class="list_box">
<h2>お勧めサンプル商品</h2>
<a href="#"><img src="img/sample_003.jpg" alt="サンプルメージ"></a>
<p>確認用のサンプルになります。適当な写真と文言に差し替えてお使いください。</p>
</div>
</section>
</div>

<div class="obi">
<div class="content">
<section class="service">
<h2>サービス商品一覧</h2>
<ul>
<li class="effect"><p><strong>サービス商品001</strong></p>
<a href="#"><span class="mask"><img src="img/sample_s_001.jpg" alt="サンプルメージ"></span></a>
<p>確認用のサンプルになります。写真と文言を差し替えてお使いください。</p>
<a href="#" class="btn_more">詳細を見る</a>
</li>
<li class="effect d_02"><p><strong>サービス商品002</strong></p>
<a href="#"><span class="mask"><img src="img/sample_s_002.jpg" alt="サンプルメージ"></span></a>
<p>確認用のサンプルになります。写真と文言を差し替えてお使いください。</p>
<a href="#" class="btn_more">詳細を見る</a>
</li>
<li class="effect d_04"><p><strong>サービス商品003</strong></p>
<a href="#"><span class="mask"><img src="img/sample_s_003.jpg" alt="サンプルメージ"></span></a>
<p>確認用のサンプルになります。写真と文言を差し替えてお使いください。</p>
<a href="#" class="btn_more">詳細を見る</a>
</li>
<li class="effect d_06"><p><strong>サービス商品004</strong></p>
<a href="#"><span class="mask"><img src="img/sample_s_004.jpg" alt="サンプルメージ"></span></a>
<p>確認用のサンプルになります。写真と文言を差し替えてお使いください。</p>
<a href="#" class="btn_more">詳細を見る</a>
</li>
</ul>
</section>
</div>
</div>

<div class="content">
<section class="news effect">
<h2>お知らせ<a href="#" class="btn_list">一覧を見る</a></h2>
<ul>
<li><a href="#">2018年３月６日　新規プロジェクトをスタートしました。</a></li>
<li><a href="#">2018年２月５日　新商品の情報を公開しました。</a></li>
<li><a href="#">2018年１月４日　本年もどうぞよろしくお願い申し上げます。</a></li>
</ul>
</section>

<section class="contact effect d_02">
<h2><i class="far fa-envelope-open"></i>お問い合わせ</h2>
<p>下記よりお気軽にお問い合わせください。</p>
<div class="tel"><a href="tel:123-456-7890"><i class="fas fa-phone"></i>123-<strong>456-7890</strong></a></div>
<div class="btn_contact"><a href="contact.html"><i class="fas fa-envelope"></i>お問い合わせフォーム</a></div>
</section>

</div>
</main>

<footer>

<div class="footer_box clfix">
<div class="box_in">
  

</div><!--/box_in-->
</div><!--/footer_box-->


<img src="aseets/images/06062021055844A.png" >
<address>(c)Dreamy</address>

</footer>


<div id="to_top"><a href="#"><img src="img/i_pagetop.png" alt="ページトップへ戻る" ></a></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="jquery.inview.min.js"></script>
<script src="script.js"></script>

</body>
</html>
